In [1]:
#Importamos las librerias
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import datetime as datetime
from shapely.geometry import Point
from matplotlib.colors import ListedColormap

%matplotlib inline
plt.style.use('default')
sns.set(style="whitegrid")

In [2]:
#Cargamos el csv
propiedades=pd.read_csv('train.csv')

In [3]:
#Cargamos el .shp de México
url="../Mapas/Mexico/MexicoPoly02.shp"
mex=gpd.read_file(url)

In [4]:
#Cargamos el .shp de los municipios de México
url_municipio="../Mapas/Municipios/Muni_2012gw.shp"
mex_municipio=gpd.read_file(url_municipio)

In [5]:
#Establecemos las longitudes extremas de México
lat_maxima=32.718333
lat_minima=14.540833
lng_maxima=-86.710000
lng_minima=-118.366666

In [6]:
propiedades.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [7]:
propiedades.columns

Index([u'id', u'titulo', u'descripcion', u'tipodepropiedad', u'direccion',
       u'ciudad', u'provincia', u'antiguedad', u'habitaciones', u'garages',
       u'banos', u'metroscubiertos', u'metrostotales', u'idzona', u'lat',
       u'lng', u'fecha', u'gimnasio', u'usosmultiples', u'piscina',
       u'escuelascercanas', u'centroscomercialescercanos', u'precio'],
      dtype='object')

In [13]:
preciom2=propiedades.loc[:,['ciudad','provincia','metrostotales','precio']]
preciom2.head()

                   ciudad         provincia  metrostotales     precio
0           Benito Juárez  Distrito Federal           80.0  2273000.0
1  La Magdalena Contreras  Distrito Federal          180.0  3600000.0
2                  Tonalá           Jalisco          166.0  1200000.0
3            Zinacantepec    Edo. de México           67.0   650000.0
4                 Zapopan           Jalisco           95.0  1150000.0

In [18]:
preciom2.dtypes

ciudad            object
provincia         object
metrostotales    float64
precio           float64
dtype: object

In [19]:
preciom2['preciom2']=(preciom2['precio']/preciom2['metrostotales'])
preciom2.head()

,ciudad,provincia,metrostotales,precio,preciom2
0,Benito Juárez,Distrito Federal,80.0,2273000.0,28412.500000
1,La Magdalena Contreras,Distrito Federal,180.0,3600000.0,20000.000000
2,Tonalá,Jalisco,166.0,1200000.0,7228.915663
3,Zinacantepec,Edo. de México,67.0,650000.0,9701.492537
4,Zapopan,Jalisco,95.0,1150000.0,12105.263158

In [22]:
#tomando la cotizacion dolar hoy a 1USD = 19.40 pesos mexicanos
cotizacion = 19.4
preciom2['preciom2dolares'] = (preciom2['preciom2']/cotizacion)
preciom2.head()

,ciudad,provincia,metrostotales,precio,preciom2,preciom2dolares
0,Benito Juárez,Distrito Federal,80.0,2273000.0,28412.500000,1464.561856
1,La Magdalena Contreras,Distrito Federal,180.0,3600000.0,20000.000000,1030.927835
2,Tonalá,Jalisco,166.0,1200000.0,7228.915663,372.624519
3,Zinacantepec,Edo. de México,67.0,650000.0,9701.492537,500.076935
4,Zapopan,Jalisco,95.0,1150000.0,12105.263158,623.982637

In [ ]:
#Grafico valor del metro 2 en dolares

In [ ]:
#cuidades/provincias con valor m2 mas caro/mas barato

In [ ]:
#variacion del m2 en funcion del tiempo